
/* --------------------------------------------------------------------------
   Basic style
   -------------------------------------------------------------------------- */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
   color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



img {
  max-width: 100%;
  height: auto;
}

a {
  color: #2985d8;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: white;
  text-decoration: underline;
}

.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.container:before {
  content: '';
  display: table;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}


#rs-wraper {
  background: #fff;
}

/* --------------------------------------------------------------------------
   Typography
   -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

.rs-main-heading {
  font-size: 32px;
  text-transform: uppercase;
}

.rs-main-heading .rs-brand {
  color: #2985d8;
}

.rs-main-heading:after {
  content: '';
  display: block;
  width: 44px;
  height: 2px;
  background: #2985d8;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------------------------------------
   CSS helper classes
   -------------------------------------------------------------------------- */
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.clear {
  clear: both;
  float: none;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hidden {
  display: none !important;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

